body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d21e1e;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #5370c1;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

footer {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #f1f1f1;
}

footer p {
    margin: 0;
    color: #777;
}
